/* your custom css */

body {
  font-family: $myFont;
}

.toc .toggleNav .navGroup .navGroupCategoryTitle {
	font-size: 14px;
	}
	
.toc .toggleNav ul li a {
	font-size: 12px;
	}

	h1, h2 {
	font-family: $myOtherFont;  
}

p {
  text-align: justify;
  text-justify: inter-word;
}

figure {
font-style:  italic;
}
.navPusher { 
background-color:	#F3F5F1;
}

.onPageNav { 
background-color:	#e2e7dc;
}

	
a {
color:  #a33a29;	
	}	
	
blockquote {
background-color: #fff1ce;
}
	
@media only screen and (min-device-width: 360px) and (max-device-width: 736px) {
}

@media only screen and (min-width: 1024px) {
}

@media only screen and (max-width: 1023px) {
}

@media only screen and (min-width: 1400px) {
}

@media only screen and (min-width: 1500px) {
}

/* img {
    float: left;
    margin: 0 20px 20px 10px;
} */

img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 90%;
}



.resp-container {
    position: relative;
    overflow: hidden;
    padding-top: 61.8%;
}
.resp-iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 0;
	max-width: 1000px;
}
em {
font-style:  italic;

}
img[alt~="hiveware"] {    float: none; }